{%- set _current = weather.current -%}
Weather for **{{ location if location is string else location.address }}** - Powered by {% if weather.url %}[{{ weather.name }}]({{ weather.url }}){% else %}{{ weather.name }}{% endif %}:
- **{{ _current.summary }}** {{ _current.temperature.format() }}{% if _current.humidity is not none %} (Humidity: {{ _current.humidity }}%){% endif %} | **Feels like**: {{ _current.feels_like.format() }}
- **Wind**: {{ _current.wind.speed.format() }} {{ _current.wind.direction.format() }} | **Wind gust**: {{ _current.wind.gust.format() }}
- **Precipitation**: {{ _current.precipitation.format() }}

{% if weather.daily_forecast %}
Forecast:
{% for forecast in weather.daily_forecast[:forecast_days] %}
- **{{ forecast.time.strftime('%A') }}**: **{{ forecast.summary }}**. High {{ forecast.high_temperature.format() }}{% if forecast.high_feels_like %} (Feels like {{ forecast.high_feels_like.format() }}){% endif %}. Low {{ forecast.low_temperature.format() }}{% if forecast.low_feels_like %} (Feels like {{ forecast.low_feels_like.format() }}){% endif %}
{%- endfor -%}
{%- endif -%}
